<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link rel="stylesheet" href="/home.css" />
  </head>
  <body>
    <div
      class="error__message <% if(err[0].length != 0) { %> error--animation <% } %>"
    >
      <%= err %>
    </div>

    <aside class="sidebar">
      <h4>Hello <%= user.username %></h4>

      <form action="/logout" method="post">
        <button type="submit">Log out</button>
      </form>

      <button type="button" class="sidebar__search sidebar--button">
        <a href="#">Search</a>
      </button>
      <p class="sidebar__folders_title">Folders</p>
      <form action="/" method="post" class="sidebar__folders">
        <% folders.forEach(fold => { %>
        <div class="sidebar__folder">
          <button
            type="button"
            name="folder"
            value="<%= fold.id %>"
            class="folder__button"
          >
            <%= fold.folderName %>
          </button>

          <div class="sidebar__dropdown">
            <button
              type="button"
              class="sidebar__dropbtn"
              data-drop_id="<%= fold.id %>"
            >
              :
            </button>

            <div
              class="sidebar__dropdown_content data_<%=fold.id%>"
              data-menu_id="<%= fold.id %>"
            >
              <button
                type="button"
                value="delete"
                class="dropdown__button"
                data-folderid="<%= fold.id %>"
              >
                Delete
              </button>
              <button
                type="button"
                value="edit"
                class="dropdown__button"
                data-folderid="<%= fold.id %>"
              >
                Edit
              </button>
            </div>
          </div>
        </div>
        <% }) %>
      </form>
    </aside>

    <main class="dashboard">
      <h1 class="dashboard__title">
        <% if(currentFolder.folderName === null) { %> Welcome! <% } else { %>
        <%= currentFolder.folderName %> <% } %>
      </h1>
      <h5 class="dashboard__subtitle">Manage your files here</h5>
      <nav class="dashboard__navbar">
        <ul>
          <li class="dashboard__item">
            <button type="button" class="dashboard__button dashboard--create">
              Create Folder
            </button>
          </li>
          <li class="dashboard__item">
            <button type="button" class="dashboard__button dashboard--upload">
              Upload File
            </button>
          </li>
        </ul>
      </nav>

      <div class="dashboard__files">
        <div class="file">
          <h2>file here</h2>
        </div>

        <div class="file">
          <h2>file here</h2>
        </div>

        <div class="file">
          <h2>file here</h2>
        </div>
      </div>

      <dialog class="dashboard__create_folder_form">
        <form
          action="/?action=create&folder=<%= currentFolder.id %>"
          method="post"
        >
          <label for="folderName">Name: </label>
          <input type="text" name="folderName" id="folderName" />
          <button type="submit">Create</button>
        </form>

        <button type="button" class="dashboard__close_create_form">
          Cancel
        </button>
      </dialog>

      <dialog class="dashboard__upload_form">
        <form
          action="/upload?folder=<%= currentFolder.id %>"
          method="post"
          enctype="multipart/form-data"
        >
          <label for="file">File: </label>
          <input type="file" name="uploadedFile"/>
          <button type="submit">Upload</button>
        </form>

        <button type="button" class="dashboard__close_upload_form">
          Cancel
        </button>
      </dialog>

      <!--<dialog class="dashboard__create_folder_form">
        <form action="/?action=create" method="post">
          <label for="folderName">Name: </label>
          <input type="text" name="folderName" id="folderName" />
          <button type="submit">Create</button>
        </form>

        <button type="button" class="dashboard__close_create_form">
          Cancel
        </button>
      </dialog>

      <dialog class="dashboard__upload_form">
        <form action="/?action=upload" method="post">
          <label for="file">File: </label>
          <input type="file" />
          <button type="submit">Upload</button>
        </form>

        <button type="button" class="dashboard__close_upload_form">
          Cancel
        </button>
      </dialog> -->
    </main>

    <script src="/homeScript.js"></script>
  </body>
</html>
